In [12]:
#1、练习python列表，字典转series与df

import pandas as pd
import numpy as np

dic = {"Alice":85, "Bob":90, "Charlie":78, "David":92}
s1 = pd.Series(dic)
print(s1)

dic2 = {
     "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [20, 22, 21, 20],
    "score": [85, 90, 78, 92],
    "gender": ["女", "男", "男", "男"]
}
s2 = pd.DataFrame(dic2)
s2 = pd.DataFrame(dic2,index=['line1','line2','line3','line4'])
print(s2)

Alice      85
Bob        90
Charlie    78
David      92
dtype: int64
          name  age  score gender
line1    Alice   20     85      女
line2      Bob   22     90      男
line3  Charlie   21     78      男
line4    David   20     92      男

In [14]:
#2、练习series和df的索引操作
l3=pd.Series(['A','B','C','D'],index=['001','002','003','004'])
print(l3['003'])
print(l3.iloc[1])
print(l3.loc['001'])
print(l3.iloc[1:3])
print(l3.iloc[[0,2]])
print(l3.loc['001':'003'])
print(l3.loc[['001','004']])

df = pd.DataFrame(np.arange(12).reshape(3,4),index=['s1','s2','s3'],columns=['c1','c2','c3','c4'])
print(df[['c1']])
print(df[['c1','c3']])
print(df['c2':'c4'])
print(df.loc['s1'])
print(df.loc[['s2','s3']])
print(df.iloc[1])
print(df.iloc[2,3])
print(df.iloc[0:2,0:3])
print(df.loc['s1':'s3','c2':'c4'])

C
B
A
002    B
003    C
dtype: object
001    A
003    C
dtype: object
001    A
002    B
003    C
dtype: object
001    A
004    D
dtype: object
    c1
s1   0
s2   4
s3   8
    c1  c3
s1   0   2
s2   4   6
s3   8  10
Empty DataFrame
Columns: [c1, c2, c3, c4]
Index: []
c1    0
c2    1
c3    2
c4    3
Name: s1, dtype: int64
    c1  c2  c3  c4
s2   4   5   6   7
s3   8   9  10  11
c1    4
c2    5
c3    6
c4    7
Name: s2, dtype: int64
11
    c1  c2  c3
s1   0   1   2
s2   4   5   6
    c2  c3  c4
s1   1   2   3
s2   5   6   7
s3   9  10  11

In [ ]:
#3、完成重复值去除，缺失值删除，缺失值填充练习

data = {
    "name": ["Alice", "Alice", "Charlie", "David", "Alice", "Charlie"],
    "age": [20, 22, 21, 20, 20, 21],
    "score": [85, 90, 78, 92, 85, 78],
    "gender": ["女", "男", "男", "男", "女", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])

print(df.duplicated())
print(df.duplicated(keep='last'))
print(df.duplicated(subset=['name','gender']))

print(df.drop_duplicates())
print(df.drop_duplicates(subset=['name'],keep='first'))
print(df.drop_duplicates(inplace=True))

s1    False
s2    False
s3    False
s4    False
s5     True
s6     True
dtype: bool
s1     True
s2    False
s3     True
s4    False
s5    False
s6    False
dtype: bool
s1    False
s2    False
s3    False
s4    False
s5     True
s6     True
dtype: bool
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
       name  age  score gender
s1    Alice   20     85      女
s3  Charlie   21     78      男
s4    David   20     92      男
None

In [17]:
#3(2)、完成重复值去除，缺失值删除，缺失值填充练习

data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, np.nan],
    "score": [85, 90, np.nan, 92, 85, np.nan],
    "gender": ["女", "男", "男", np.nan, np.nan,np.nan]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])

print(df.info())
print(df.isnull)
print(df.isnull().sum())
print(df.isnull().sum(axis=1))

print(df.dropna())
print(df.dropna(axis=1))
print(df.dropna(subset='gender'))

print(df.fillna('-'))
print(df.fillna({'gender':'男'}))

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, s1 to s6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     5 non-null      float64
 2   score   4 non-null      float64
 3   gender  3 non-null      object
dtypes: float64(2), object(2)
memory usage: 240.0+ bytes
None
<bound method DataFrame.isnull of        name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0    NaN
s5      Eva  20.0   85.0    NaN
s6    Frank   NaN    NaN    NaN>
name      0
age       1
score     2
gender    3
dtype: int64
s1    0
s2    0
s3    1
s4    1
s5    1
s6    3
dtype: int64
     name   age  score gender
s1  Alice  20.0   85.0      女
s2    Bob  22.0   90.0      男
       name
s1    Alice
s2      Bob
s3  Charlie
s4    David
s5      Eva
s6    Frank
       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
       name   age score gender
s1    Alice  20.0  85.0      女
s2      Bob  22.0  90.0      男
s3  Charlie  21.0     -      男
s4    David  20.0  92.0      -
s5      Eva  20.0  85.0      -
s6    Frank     -     -      -
       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0      男
s5      Eva  20.0   85.0      男
s6    Frank   NaN    NaN      男

In [ ]:
#4、完成apply和map的练习

data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [20, 22, 21, 20],
    "score": [85, 90, 78, 92],
    "gender": ["女", "男", "男", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4'], columns=['name', 'age', 'score', 'gender'])

def grow_up(age):
    return age + 1

df['age'] = df['age'].apply(grow_up)
print(df)

df = pd.DataFrame(np.arange(12).reshape(3,4), index=['s1', 's2', 's3'], columns=['c1', 'c2', 'c3', 'c4'])
print(df.apply(lambda x: x.count(),axis=0))
print(df.apply(lambda x: x.max(),axis=0))
print(df.apply(lambda x: x.count(),axis=1))

       name  age  score gender
s1    Alice   21     85      女
s2      Bob   23     90      男
s3  Charlie   22     78      男
s4    David   21     92      男
c1    3
c2    3
c3    3
c4    3
dtype: int64
c1     8
c2     9
c3    10
c4    11
dtype: int64
s1    4
s2    4
s3    4
dtype: int64

In [21]:
#4、完成apply和map的练习

data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [20, 22, 21, 20],
    "score": [85, 90, 78, 92],
    "gender": ["女", "男", "男", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4'], columns=['name', 'age', 'score', 'gender'])

gender_excert = {
    "男": "male",
    "女": "female"
}
df['gender'] = df['gender'].map(gender_excert)
print(df)
df['gender'] = df["gender"].map(lambda x: 1 if x == 'male' else 0)
print(df)


df2 = pd.DataFrame(np.arange(12).reshape(3,4), index=['s1', 's2', 's3'], columns=['c1', 'c2', 'c3', 'c4'])
print(df2.map(lambda x: x*2))


df_float = pd.DataFrame(np.random.randn(3, 4), columns=['c1', 'c2', 'c3', 'c4'])
def my_round(x):
    return f'{x:0.2f}'
df_float2 = df_float.map(my_round)
print(df_float2)

       name  age  score  gender
s1    Alice   20     85  female
s2      Bob   22     90    male
s3  Charlie   21     78    male
s4    David   20     92    male
       name  age  score  gender
s1    Alice   20     85       0
s2      Bob   22     90       1
s3  Charlie   21     78       1
s4    David   20     92       1
    c1  c2  c3  c4
s1   0   2   4   6
s2   8  10  12  14
s3  16  18  20  22
     c1    c2     c3     c4
0  1.73  1.63  -0.42   0.67
1  0.71  0.05  -0.62   0.64
2  2.03  1.13   0.46  -0.88

In [23]:
#5、完成groupby与agg的练习

score_stats = df['score'].agg([
    "mean", "max", "min"
])

mutitude_col_state = df.agg({
    "age" : ["mean","count"],
    "score" : ["median","std"]
})
print(mutitude_col_state)


data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, 30],
    "score": [85, 90, 88, 92, 82, 72],
    "gender": ["女", "男", "男", '男', '女', '男']
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])

print(df.groupby('age'))
print(df.groupby('gender')['score'].mean().add_prefix('mean_'))

              age     score
mean    22.166667       NaN
count    6.000000       NaN
median        NaN  86.50000
std           NaN   7.22265
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000231A7276270>
gender
mean_女    83.5
mean_男    85.5
Name: score, dtype: float64

6、编写机器学习的训练过程，什么是特征，什么是标签，什么是训练集，什么是测试集，
什么是有监督，无监督学习，什么是分类问题，回归问题，什么是欠拟合和过拟合，
以问答题写到代码文件里即可。

特征：特征是各组数据中，具有实际意义能够代表某一具体属性的一些列（一般为一列）值或字符
标签：给数据提供的值
训练集：用于训练的一组数据
测试集：用于检测训练结果的一组数据
有监督：所输入的数据是具有标签的的，一般课分为分类和回归
无监督：所输入的数据是不具有标签的
分类问题：预测结果为一个类别，所呈现结果为离散值
回归问题：预测结果为一个连续值
欠拟合：测试集和训练集所呈现效果均不佳
过拟合：测试集效果好但训练集效果不行